[Unit]
Description=Random monster generator for LED strip
After=multi-user.target
 
[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/led_ws281x_walker
ExecStart=/usr/bin/python3 random_monster_draw_runner.py
 
[Install]
WantedBy=multi-user.target
